

{% macro breadcrumbs_macro(breadcrumbs=[]) %}
    {% if breadcrumbs %}
        <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url('dashboard') }}">Dashboard</a>
                    </li>
                    {% for crumb in breadcrumbs %}
                        {% if not loop.last %}
                            <li class="breadcrumb-item">
                                <a href="{{ crumb['url'] }}">
                                    {{ crumb['text'] }}
                                </a>
                            </li>
                        {% else %}
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ crumb['text'] }}
                            </li>
                        {% endif %}
                  {% endfor %}
                </ol>
              </div>
              <!--end of col-->
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </nav>
    {% endif %}
{% endmacro %}