<footer class="footer-short">
  <div class="container">
    <nav class="row justify-content-between align-items-center">
      <div class="col-auto">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="{{ url('home') }}">
              <img class="logo logo-sm" alt="logo" src="{{ static('img/logo-icon-gray.png') }}">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="{{ url('about') }}">About</a>
          </li>
          <li class="list-inline-item">
            <a href="{{ url('pricing') }}">Pricing</a>
          </li>
          {# <li class="list-inline-item">
            <a href="{{ url('docs') }}">Docs</a>
          </li> #}
          <li class="list-inline-item">
            <a href="{{ url('privacy-policy') }}">Privacy policy</a>
          </li>
          <li class="list-inline-item">
            <a href="{{ url('terms') }}">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="{{ url('sign-up') }}">Sign up</a>
          </li>
        </ul>
      </div>
      <!--end of col-->
      <div class="col-auto text-sm-right">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://github.com/peermetrics" target="_blank">
              <img src="{{ static('img/social/github-gray.svg') }}"  height="16" width="16" alt="github" >
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/peermetrics" target="_blank">
              <img src="{{ static('img/social/twitter-gray.svg') }}"  height="16" width="16" alt="twitter" >
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/company/peermetrics" target="_blank">
              <img src="{{ static('img/social/linkedin-gray.svg') }}"  height="16" width="16" alt="linkedin" >
            </a>
          </li>
        </ul>
      </div>
      <!--end of col-->
    </nav>
    <!--end of row-->
  </div>
  <!--end of container-->
</footer>