
{% extends "account/account_base.html" %}

{% block assets %}
    {{ super() }}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

    {% if DEV %}
        <script src="/static/node_modules/vue/dist/vue.runtime.js"></script>
        <script src="/static/node_modules/chart.js/dist/chart.umd.js"></script>
    {% else %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

        {# <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script> #}
    {% endif %}

{% endblock %}

{% block container %}
  <div id="app"></div>
{% endblock %}

{% block scripts %}
    <script>
        peermetrics.conference = {
            id: '{{ conference.id }}'
        }
        peermetrics.daysHistory = {{ data_retention_days }}
    </script>
    <script src="/static/js/conference/index.js"></script>
{% endblock %}
