.git
.github
.gitignore

# TODO: we need custom build for web to make this work. can't use docker compose
# DOCKER_BUILDKIT=1
# docker build -f ./web/Dockerfile.dev ./web/ -t peermetrics/web:dev
# node_modules/
__pycache__/

.gcloudignore

Dockerfile.dev

Dockerfile.dev.dockerignore
